<nav class="px-4 py-3 font-semibold">
  <ul>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.dashboard">Dashboard</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.djs">Users</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.schedule">Schedule</LinkTo>
    </li>
    <li class="mt-1 hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.playlists.show" @model={{currentRadio.radio.defaultPlaylistId}}>Media</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.podcasts">Podcasts</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.vj">VJ</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.host-applications">Dj Applications</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.recordings">Recordings</LinkTo>
    </li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <LinkTo @route="authenticated.blog-posts">Blog</LinkTo>
    </li>
  </ul>
</nav>
