<ul class="px-4 pt-2 pb-4">
  {{#if session.isAuthenticated}}
    <li class="current-time-navbar">
      <span class="current-time"></span>
      <span class="current-timezone"></span>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
        {{currentUser.user.username}}<i class="fa fa-cog"></i>
      </a>
      <ul role="menu">
        <li></li>
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
      </ul>
    </li>
  {{else}}
    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
  {{/if}}
</ul>
