// @import 'font-awesome/scss/font-awesome.scss';
@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';

@tailwind base;

@tailwind components;

.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.btn {
  @apply shadow bg-purple-600 text-white font-bold py-2 px-2 rounded;
  &.danger {
    @apply bg-red-600;
  }
}

.btn:hover {
  @apply bg-purple-500;
  &.danger {
    @apply bg-red-500;
  }
}

.btn:focus {
 @apply shadow-outline outline-none;
}

.btn:active {
  @apply bg-purple-800;
  &.danger {
    @apply bg-red-800;
  }
}

.flash-message {
  @apply p-2 fixed top-0 left-0 z-50 w-full;
  &.alert-danger {
    @apply bg-red-600 text-white;
  }
  &.alert-success {
    @apply bg-green-600 text-white;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1.5s infinite linear;
}

button.loading {
  &:before {
  }
  &:after {
  }
}

@tailwind utilities;
