@import 'ember-modal-dialog/ember-modal-structure.css';
@import 'ember-modal-dialog/ember-modal-appearance.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

/* for ember frontile */
.form-field-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-field-textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-field-feedback--error {
  @apply text-red-600;
}

.btn {
  cursor: pointer;
  @apply shadow bg-purple-600 text-white font-bold py-2 px-2 rounded;
}

.btn.danger {
  @apply bg-red-600;
}

.btn[disabled] {
  cursor: not-allowed;
  @apply bg-purple-200;
}

.btn:hover[disabled] {
  @apply bg-purple-100;
}

.btn:hover {
  @apply bg-purple-500;
}

.btn.danger:hover {
  @apply bg-red-500;
}

.btn:focus {
  @apply ring outline-none;
}

.btn:active {
  @apply bg-purple-800;
}

.btn.danger:active {
  @apply bg-red-800;
}

.flash-message {
  @apply p-2 fixed top-0 left-0 z-50 w-full;
}
.flash-message.alert-danger {
  @apply bg-red-600 text-white;
}
.flash-message.alert-success {
  @apply bg-green-600 text-white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1.5s infinite linear;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  @apply text-purple-800;
}

.centered-scrolling-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.centered-scrolling-container {
  position: relative;
}

/* power select junk */
.ember-power-select-trigger {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.ember-power-select-option {
  cursor: pointer;
}

.ember-power-select-search-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.ember-power-select-trigger-multiple-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.ember-power-select-dropdown {
  @apply mt-1 bg-gray-200 rounded-xl p-3;
}

.ember-power-select-option:hover {
  @apply bg-black text-purple-300;
}

.week {
  @apply bg-violet-400;
}

.month {
  @apply bg-blue-400;
}

.biweek {
  @apply bg-green-400;
}
