<h3>Stream Title</h3>
<form>
  <Input
    class="form-input focus:outline-none focus:shadow-outline"
    @type="text" @value={{title}} />
  <Input
    class="btn cursor-pointer"
    @type="submit" @value="Update" />
</form>
