{{#if @showing}}
  <div
    class="bg-black text-white font-semibold absolute right-0"
    >
    <ul role="menu">
      <li class="hover:bg-gray-800 rounded px-2 py-1">
        <LinkTo @route="authenticated.profile">Your Profile</LinkTo>
      </li>
      <li class="hover:bg-gray-800 rounded px-2 py-1">
        <LinkTo @route="authenticated.settings">Settings</LinkTo>
      </li>
      {{#if this.currentUser.user.isAdmin}}
        <li class="hover:bg-gray-800 rounded px-2 py-1">
          <LinkTo @route="authenticated.radio-settings">Radio Settings</LinkTo>
        </li>
      {{/if}}
      {{#if currentUser.user.isAdmin}}
        <li class="hover:bg-gray-800 rounded px-2 py-1">
          <LinkTo @route="authenticated.admin">Admin</LinkTo>
        </li>
      {{/if}}
      <li class="h-1 bg-gray-300"></li>
      <li class="hover:bg-gray-800 rounded px-2 py-1">
        <a href="#" {{action 'logout'}}>Logout</a>
      </li>
    </ul>
  </div>
{{/if}}
