<button
  class="btn"
  disabled={{this.canUpVote}} type="button" {{on "click" this.upVote}}
  >
  Yep
</button>
<button
  class="btn"
  disabled={{this.canDownVote}} type="button" {{on "click" this.downVote}}
  >
  Nope
</button>
