<Await @promise={{this.fetchPlaylists}} as |await|>
  <await.Pending>
    Loading playlists...
  </await.Pending>

  <await.Fulfilled as |playlists|>
    {{#each playlists as |selectablePlaylist|}}
      <div class="playlist-title">
        <LinkTo @route="authenticated.playlists.show" @model={{selectablePlaylist.id}}>{{selectablePlaylist.name}}</LinkTo>
      </div>
    {{/each}}
  </await.Fulfilled>

  <await.Rejected>
    Something went wrong :(
  </await.Rejected>
</Await>
