{{#let (changeset @model this.validations) as |changeset|}}
  <Ui::ChangesetForm
    @onSubmit={{this.onSubmit}}
    @onError={{this.onError}}
    @changeset={{changeset}} as |Form|>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <Form.Input
        type="text"
        name="name"
        id="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        @fieldName='name'
      />
    </div>

    <Button
      data-test-save-playlist-button
      @type="submit"
      class="btn btn-primary"
      disabled={{changeset.isInvalid}}
      >
        Save
    </Button>
  </Ui::ChangesetForm>
{{/let}}
