<div class="flex justify-between border-2 border-gray-300 px-2 py-2">
  <div>
    <span class="left track-name">{{@playlistTrack.displayName}}</span>
    <span class="left track-name">{{@playlistTrack.formattedDuration}}</span>
  </div>
  <div>
    <button class="btn delete-from-playlist" type="button" {{action "deleteFromPlaylist"}}>
      <FaIcon @icon="times" />
    </button>
  </div>
</div>
