<div class="w-1/2 mx-2">
  <Tracks::List
    @updateSearch={{this.updateSearch}}
    @labels={{model.labels}}
    @searchParams={{this.tracksSearchParams}}
    />
  <img
    class="uploader-icon hidden absolute top-0 left-0"
    alt="Upload files"
    src="/assets/images/uploadericon.png" />
</div>
<div class="w-1/2 mx-2">
  {{outlet}}
</div>
