<h1>Recordings</h1>
{{!-- >:3 --}}
<table class="">
  <thead>
    <th>path</th>
  </thead>
  <tbody>
    {{#each model as |recording|}}
    <tr>
      <td>{{recording.path}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
